<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEAAO</title>
    {% include 'bootstrap.html' %}
</head>
<body class="pb-5">
{% include 'navbar.html' %}
<div class="container mt-4">
    <h1>Advisors</h1>
    <table class="table table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>Advisor</th>
                <th>Title</th>
                <th>Office</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Shante Tyus</td>
                <td>Assistant Academic Advisor</td>
                <td>ETC 2.146</td>
                <td><a href="tel:+15124757992">(512) 475-7992</a></td>
                <td><a href="mailto:shante.tyus@austin.utexas.edu">shante.tyus@austin.utexas.edu</a></td>
            </tr>
            <tr>
                <td>Katie Miller</td>
                <td>Associate Academic Advisor</td>
                <td>ETC 2.146</td>
                <td><a href="tel:+15122322304">(512) 232-2304</a></td>
                <td><a href="mailto:katelyn.miller@austin.utexas.edu">katelyn.miller@austin.utexas.edu</a></td>
            </tr>
            <tr>
                <td>Kelly Frazer</td>
                <td>Academic Advising Coordinator</td>
                <td>ETC 2.146</td>
                <td><a href="tel:+15122322702">(512) 232-2702</a></td>
                <td><a href="mailto:kelly.frazer@austin.utexas.edu">kelly.frazer@austin.utexas.edu</a></td>
            </tr>
            <tr>
                <td>Gillian Hagamen</td>
                <td>Project Coordinator</td>
                <td>ETC 2.146</td>
                <td><a href="tel:+15124719896">(512) 471-9896</a></td>
                <td><a href="mailto:gillian.hagamen@austin.utexas.edu">gillian.hagamen@austin.utexas.edu</a></td>
            </tr>
        </tbody>
    </table>
    <p>The Mechanical Engineering Academic Advising Office is open on weekdays from 8:00 am - 12:00 pm (noon), and from 1:00 pm - 4:00 pm.</p>
</div>
</body>
</html>