<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEAAO</title>
    {% include 'bootstrap.html' %}
</head>
<body class="pb-5">
{% include 'navbar.html' %}
<div class="container mt-4">
    <h1 class="mb-4">Forms</h1>
    <h2 class="mt-5">Registration</h2>
    <div class="list-group list-group-flush">
        <a href="https://students.engr.utexas.edu/policies-forms/concurrent-enrollment" target="_blank" class="list-group-item list-group-item-action">Concurrent Enrollment Petition</a>
        <a href="https://students.engr.utexas.edu/policies-forms/registration-over-17-hours" target="_blank" class="list-group-item list-group-item-action">Over 17 Hours Petition</a>
        <a href="https://students.engr.utexas.edu/policies-forms/course-repetition-hours" target="_blank" class="list-group-item list-group-item-action">Course Repetition Petition</a>
        <a href="https://students.engr.utexas.edu/policies-forms/pass-fail" target="_blank" class="list-group-item list-group-item-action">Pass/Fail Application</a>
        <a href="https://students.engr.utexas.edu/policies-forms/foreign-language-waiver-request" target="_blank" class="list-group-item list-group-item-action">Foreign Language Waiver</a>
        <a href="https://students.engr.utexas.edu/policies-forms/undergrad-taking-grad-courses" target="_blank" class="list-group-item list-group-item-action">Undergraduates Taking Graduate Classes</a>
    </div>
    <h2 class="mt-5">PDFs</h2>
    <div class="list-group list-group-flush">
        <a href="http://www.me.utexas.edu/images/ME_ADVISING_REGISTRATION_FORM.pdf" target="_blank" class="list-group-item list-group-item-action">Registration Form</a>
    </div>
</div>
</div>
</body>
</html>