<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-none d-lg-flex" href="/">
        <img src="/static/img/logo.min.svg" alt="The University of Texas at Austin Shield" />
        <div>
            <span>The University of Texas at Austin</span><br>
            <span class="subtitle text-muted font-weight-normal">Mechanical Engineering Academic Advising Office</span>
        </div>
    </a>
    <a class="navbar-brand d-flex d-lg-none" href="/">
        UT Austin
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-nowrap" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/advisors">Advisors</a>
            </li>
{% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/walkins">Walk-Ins</a>
            </li>
{% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/forms">Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
{% if user.is_authenticated %}
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link" href="/signin">Sign In</a>
            </li>
{% endif %}
        </ul>
{% if user.is_authenticated %}
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/account">My Account</a>
                <a class="dropdown-item" href="/signout">Sign Out</a>
            </div>
        </div>
{% else %}
        <a class="btn btn-primary d-none d-lg-block" href="/signin">Sign In</a>
{% endif %}
    </div>
    <style type="text/css">
    nav .subtitle {
        font-size: 0.75em;
    }

    nav .navbar-brand {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
    }

    nav .navbar-brand > * {
        display: inline-block;
    }

    nav .navbar-brand img {
        height: 3.25em;
        margin: 0 1em;
    }
    </style>
</nav>