<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEAAO</title>
{% include 'bootstrap.html' %}
</head>
<body class="pb-5">
{% include 'navbar.html' %}
<div class="container mt-4">
    <h1 class="mb-4">Resources</h1>
    <h2 class="mt-5">UT Austin Registrar</h2>
    <div class="list-group list-group-flush mt-3">
        <a href="https://registrar.utexas.edu" target="_blank" class="list-group-item list-group-item-action">Registrar</a>
        <a href="https://utexas.collegescheduler.com/entry" target="_blank" class="list-group-item list-group-item-action">UT Planner</a>
        <a href="https://utdirect.utexas.edu/registrar/ris.WBX" target="_blank" class="list-group-item list-group-item-action">Registration Information Sheet</a>
        <a href="https://utdirect.utexas.edu/registration/classlist.WBX" target="_blank" class="list-group-item list-group-item-action">Class Listing</a>
        <a href="https://utdirect.utexas.edu/apps/student/gradereport/student/" target="_blank" class="list-group-item list-group-item-action">Grade Report</a>
    </div>
    <h2 class="mt-5">Software</h2>
    <div class="list-group list-group-flush mt-3">
        <a href="https://students.engr.utexas.edu/it-resources/software/labview" target="_blank" class="list-group-item list-group-item-action">National Instruments LabVIEW</a> <br>
    </div>
    <h2 class="mt-5">Support</h2>
    <div class="list-group list-group-flush mt-3">
        <a href="https://students.engr.utexas.edu/support-services/first-year-interest-groups" target="_blank" class="list-group-item list-group-item-action">First-Year Interest Groups</a> <br>
        <a href="https://students.engr.utexas.edu/support-services/tutoring" target="_blank" class="list-group-item list-group-item-action">Tutoring Services</a> <br>
        <a href="https://students.engr.utexas.edu/support-services/physical-mental-health" target="_blank" class="list-group-item list-group-item-action">Physical and Mental Health</a> <br>
    </div>
</div>
</body>
</html>