<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEAAO - Sign Out</title>
    {% include 'bootstrap.html' %}
</head>
<body class="pb-5">
{% include 'navbar.html' %}
    <div class="container mt-4">
        <h1>Sign Out</h1>
        <p>You have been signed out.</p>
        <ul>
            <li><a href="./">Home Page</a></li>
            <li><a href="./signin">Sign In</a></li>
        <ul>
    </div>
</body>
</html>